*.class
*.log
/target/
/.bsp/
/.idea/
/project/target/
codecs/.bsp/
codecs/.idea/
codecs/target/
codecs/project/target/
democracy/.bsp/
democracy/.idea/
democracy/target/
democracy/project/target/
fireworks/.bsp/
fireworks/.idea/
fireworks/target/
fireworks/project/target/
quickcheck/.bsp/
quickcheck/.idea/
quickcheck/target/
quickcheck/project/target/
todo/.bsp/
todo/.idea/
todo/target/
todo/project/target/
wikigraph/.bsp/
wikigraph/.idea/
wikigraph/target/
wikigraph/project/target/
